<!-- Skills-->
<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fab fa-html5"></i></li>
            <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
            <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
            <li class="list-inline-item"><i class="fab fa-angular"></i></li>
            <li class="list-inline-item"><i class="fab fa-react"></i></li>
            <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
            <li class="list-inline-item"><i class="fab fa-sass"></i></li>
            <li class="list-inline-item"><i class="fab fa-less"></i></li>
            <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
            <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
            <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
            <li class="list-inline-item"><i class="fab fa-npm"></i></li>
        </ul>
        <div class="mb-3">{{titulo | lowercase}} - <b>{{manejo | uppercase}}</b></div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Mobile-First, Responsive Design - <b>[Score: {{score1 | number: '1.2'}}]</b>
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cross Browser Testing & Debugging - <b>[Score: {{score2 | number: '1.2'}}]</b>
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cross Functional Teams - <b>[Score: {{score3 | number: '1.2'}}]</b>
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Agile Development & Scrum - <b>[Score: {{score4 | number: '1.2'}}]</b>
            </li>
            <li>
              <span class="fa-li"><i class="fas fa-check"></i></span>
              Project Management & PMI - <b>[Score: {{score5 | number: '1.2'}}]</b>
          </li>
        </ul>
        <br>
        <div class="flex-shrink-0"><span class="text-primary">Creation date: {{creacion | date:'dd-MM-yyyy'}}</span></div>
    </div>
</section>
