<!-- Awards-->
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Awards & Certifications</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <p>{{inicio}}</p>            
        </div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Project Management Professional - PMP®
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Scrum Fundamentals Certified - SFC®
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                1
                <sup>st</sup>
                Place - University of San Buenaventura - Emerging Tech Competition 2002
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                1
                <sup>st</sup>
                Place - University of San Buenaventura - Adobe Creative Jam 2001 (UI Design Category)
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                2
                <sup>nd</sup>
                Place - University of San Buenaventura - Emerging Tech Competition 2001
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                1
                <sup>st</sup>
                Place - University of San Buenaventura - Hackathon 2001
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                3
                <sup>rd</sup>
                Place - University of San Buenaventura - Hackathon 2000
            </li>
        </ul>
        <br><br><br>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <button mat-raised-button color="primary" (click)="enviaCambioGracias()">Gratefulness</button>
        </div>        
    </div>
</section>
