<!-- Experience-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Technical development leader</h3>
                <div class="subheading mb-3">+Humano Consultores</div>
                <p>I have participated in the implementation, support and development of software in different projects, playing different roles as Project Manager, Systems Analyst, Developer Full Stack and Functional Technical Consultant. Tech stack: Java, PHP, .Net, SQL PL/SQL, LN4 (native language), HTML, CSS, React and Javascript. SQL Server, Oracle and MySQL databases. Apache, Tomcat, Soap | Rest, Bootstrap | JQuery, AWS.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">June 2014 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Senior Consultant</h3>
                <div class="subheading mb-3">Carvajal Tecnología y Servicios</div>
                <p>I participated from the Consulting Unit in the implementation and development of software in critical mission projects, working in the different roles of the software life cycle. Tech stack: Java, LN4 (native language), HTML, CSS, Javascript and the suite of development tools for Oracle: forms, reports, designer and discoverer. Oracle database.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">April 2004 - May 2014</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Junior Web Developer</h3>
                <div class="subheading mb-3">Sysgold Corporation</div>
                <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">January 2002 - March 2004</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Web Design Intern</h3>
                <div class="subheading mb-3">Universidad San Buenaventura</div>
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">July 1997 - December 2001</span></div>
        </div>
    </div>
</section>
