<!-- Interests-->
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>Aside from being a web developer, I enjoy most of my time outdoors. In the summer, I am an avid diver and I like to travel to see the whales. During the warmer months here in Colombia, I enjoy mountain biking, rivers and hiking.</p>
        <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
    </div>
</section>
